html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.hcenter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-grow: 1;
    text-transform: uppercase;
    text-decoration: underline;
}

::-webkit-scrollbar {
    display: none;
}
.home-contenter{
    margin-top: 95px;
}