.disc {
    margin-top: 101px;
    margin-bottom: 100px;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-avt {
    width: 50px;
    padding: 10px;
}

.ip-disc {
    height: 40px;
    padding: 6px;
    margin: 10px 15px;
    width: 70%;
    outline: none;
    resize: none;
    max-height: 200px;
}

.ip-disc::-webkit-scrollbar {
    display: none;
}

.btn {
    padding: 6px;
    width: fit-content;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.25s;
    margin: 0 4px;
    outline: none;
    border: none;
}

.btn:hover {
    background-color: rgb(190, 190, 190);
}

.btn-like:hover {
    background-color: #74b9ff;
}

.btn-cmt:hover {
    background-color: #55efc4;
}

.body-disc {
    padding: 8px;
    margin-top: 11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.posted-disc {
    max-width: 80%;
}

.ur-new-cmt {
    display: flex;
    flex-direction: column;
}

.posted-disc,
.ur-new-cmt,
.oth-cmted {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: justify;
    justify-content: center;
    position: relative;
    margin-top: 40px;
}

.line-disc {
    padding: 6px;
    width: 70%;
    margin: 10px 15px;
    outline: none;
    resize: none;
    border: none;
}

.line-disc::-webkit-scrollbar {
    display: none;
}

.disc-react {
    text-align: center;
    display: flex;
    justify-content: center;
}

.username {
    position: absolute;
    top: 5px;
    left: 50px;
}

.username::after {
    content: "Username";
    position: absolute;
    top: 80%;
    left: -10px;
    font-size: 14px;
    padding: 4px;
}

.cmt-in-cmt {
    padding: 20px 40px;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 10%;
}

textarea[readonly="true"] {
    height: fit-content;
}

.error_ms {
    display: block;
}

#dis_checkIp {
    margin-left: 150px;
    margin-top: -2%;
    color: red;
    display: none;
}

#com_checkIp {
    margin-left: 150px;
    color: red;
    display: none;
}

#container-discusion {
    width: 80%;
}

.header-disc {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
    padding-top: 25px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.active-like {
    background-color: #74b9ff;
    color: #fff;
}

.active-cmt {
    background-color: #55efc4;
    color: #fff;
}

.disc-contener,
.inf-course {
    margin-top: 20px;
    max-width: 80%;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}