.modal-title h4 {
    font-size: 25px;
    float: left;
    max-width: 69%;
    margin-top: 28px;
}

.modal-title {
    word-wrap: break-word;
}

.image {
    margin-top: 30px;
    width: 150px;
    float: right;
}

.modal-body {
    clear: both;
}

.title-description {
    font-size: 18px;
}

.text-description {
    text-indent: 30px;
    font-size: 16px;
}

.modal-body {
    word-wrap: break-word;
}

.button-resume {
    display: none;
}